.header {
    background-color: transparent;
    font-size: 1.6rem;
    width: 100%;
    top: 0;
    left: 0;
    transition: var(--transition);
    position: fixed;
    z-index: 100;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav {
    display: flex;
    align-items: center;
}

.nav img {
    width: 150px;
    padding: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li a {
    display: inline-block;
    padding: 25px 10px;
    color: white;
    &:hover {
        cursor: pointer;
        color: #2b4f6f;
        background-color: gray;
    }
}

.account {
    position: relative;

    &:hover {
        color: white;
        background-color: gray;
    }

    &:hover ul {
        display: block;
    }
}

.account .acc-nav {
    padding: 25px 10px;
    cursor: pointer;
}

.search-icon {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 5px;
}

.down-icon {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

.account ul {
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid var(--color-text);
    background-color: var(--color-background-2);
    display: none;
}

.account ul li a {
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: var(--color-text);
    &:hover {
        cursor: pointer;
        background-color: var(--color-text);
        color: var(--color-background-2);
    }
}

.acc-icon {
    padding: 0 10px;
}